---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import Hero from "@/sections/Hero.astro";
import SEO from "@/components/SEO.astro";
import LatestBlogPost from "@/sections/LatestBlogPost.astro";
---

<Layout title="Yoann Fleury - Web Developer">
  <SEO
    slot="seo"
    ogImage={new URL("/og-image.png", Astro.site)}
    ogTitle="Talks"
  />
  <Hero />

  <div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-4xl font-bold font-heading tracking-tight text-secondary sm:text-6xl"
      >
        Follow me on
      </h2>
      <p class="mt-6 text-lg leading-8 text-primary">
        <Link
          href="https://twitter.com/yoannfleurydev"
          title="Yoann Fleury's Twitter profile">Twitter</Link
        >,
        <Link
          href="https://www.instagram.com/yoannfleurydev"
          title="Yoann Fleury's Instagram profile">Instagram</Link
        >,
        <Link
          href="https://github.com/yoannfleurydev"
          title="Yoann Fleury's GitHub profile">GitHub</Link
        >, or add me on Discord with the username
        <em>yoannfleurydev</em>.
      </p>
    </div>
  </div>

  <LatestBlogPost />

  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-4xl font-bold font-heading tracking-tight text-secondary sm:text-6xl"
        >
          Miscellaneous
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-300">
          Multiple categories on things unrelated to development.
        </p>
        <p class="mt-2 text-lg leading-8 text-gray-300">
          <a href="/recipes/" class="underline font-medium">Recipes</a>
        </p>
      </div>
    </div>
  </div>
</Layout>
