---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Yoann Fleury - Web Developer">
  <div class="flex flex-1 flex-col justify-center align-middle m">
    <div
      class="bg-white/50 p-4 m-1 rounded-sm sm:m-4 sm:p-10 md:m-auto md:max-w-xl md:rounded-md space-y-4"
    >
      <p>Hello! Bonjour&nbsp;!</p>
      <p>
        My name is <strong class="font-bold">Yoann Fleury</strong>, I am a
        frontend web developer at
        <Link href="https://www.bearstudio.fr" title="BearStudio's main page"
          >BearStudio</Link
        >
        and an organizer at
        <Link
          href="https://www.forkit.community/"
          title="Fork it! Community website">Fork it! Community</Link
        >
      </p>
      <p>
        Follow me on
        <Link
          href="https://twitter.com/yoannfleurydev"
          title="Yoann Fleury's Twitter profile">Twitter</Link
        >,
        <Link
          href="https://www.instagram.com/yoannfleurydev"
          title="Yoann Fleury's Instagram profile">Instagram</Link
        >,
        <Link
          href="https://github.com/yoannfleurydev"
          title="Yoann Fleury's GitHub profile">GitHub</Link
        >,
        <Link
          href="https://changelog.yoannfleury.dev"
          title="Yoann Fleury's Polywork page">Polywork</Link
        >, or add me on Discord with the username
        <em>yoannfleurydev</em>
      </p>
    </div>
  </div>
</Layout>
