---
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Layout title={`${title} | Yoann Fleury`} description={description}>
  <slot name="seo" slot="seo" />

  <div
    class="py-24 px-4 sm:py-32 prose prose-invert m-auto text-primary prose-code:text-secondary prose-strong:text-secondary prose-h2:text-secondary prose-h2:font-heading flex flex-col"
  >
    <h1 class="font-heading text-secondary">{title}</h1>
    <slot />

    <hr />
    <p class="text-sm text-gray-400">Tu as aimer cet article et souhaite me soutenir ? Alors n'hésite pas à me <a href="https://github.com/sponsors/yoannfleurydev" rel="noreferrer" class="text-gray-400">sponsoriser sur GitHub</a> ou via <a href="https://www.paypal.com/paypalme/yoannfleurydev" class="text-gray-400">Paypal</a> !</p>
  </div>
</Layout>
