---
import "@fontsource-variable/sono";
import "@fontsource-variable/work-sans";
import Footer from "../sections/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Yoann Fleury, frontend web developer at BearStudio and organizer at Fork it! Community",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" sizes="32x32" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content={description ||
        "Yoann Fleury, frontend web developer at BearStudio and organizer at Fork it! Community"}
    />
    <slot name="seo" />
  </head>
  <body class="flex flex-col h-screen bg-gray-900 text-primary">
    <header class="absolute inset-x-0 top-0 z-50">
      <div class="mx-auto max-w-7xl">
        <div class="px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0">
          <nav
            class="flex items-center justify-between lg:justify-start"
            aria-label="Global"
          >
            <div class="flex gap-x-8">
              <a
                href="/"
                class="text-sm font-semibold text-primary hover:text-secondary"
                >Home</a
              >
              <a
                href="/blog/"
                class="text-sm font-semibold text-primary hover:text-secondary"
                >Blog</a
              >
              <a
                href="/talks/"
                class="text-sm font-semibold text-primary hover:text-secondary"
                >Talks</a
              >
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="flex-1 justify-between">
      <slot />
    </main>
    <Footer />
  </body>
</html>
