---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} | Yoann Fleury`}
  description={frontmatter.description}
>
  <slot name="seo" slot="seo" />

  <div
    class="py-24 px-4 sm:py-32 prose prose-invert m-auto text-primary prose-code:text-secondary prose-strong:text-secondary prose-h2:text-secondary prose-h2:font-heading"
  >
    <h1 class="font-heading text-secondary">{frontmatter.title}</h1>
    <slot />
  </div>
</Layout>
