.image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.cardWrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 32rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 800px) {
  .card {
    max-width: 24rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
